{%extends 'admin/layout.html'%}

{%block content%}
<div class="mdui-container-fluid">

    <div class="mdui-typo">
      <h1> 系统设置 <small>*号表示需重启网站才能生效</small></h1>
    </div>
    <form action="{{url_for('admin.sys_setting')}}" method="POST">

        <h4><font color="red">是否开启负载均衡</font></h4>
        <small><p>开启之后，只显示默认盘文件；如果默认盘有的文件，其他盘也有，则会在这几个盘之间切换获取直链</p>
        <p>仅限<font color="blue">不同域</font>的onedrive开启负载均衡才有意义！！！</p></small>
        <select class="mdui-select" name="balance" mdui-select>
            <option value="True"{%if GetConfig('balance')=='True'%} selected{%endif%}>开启</option>
            <option value="False"{%if GetConfig('balance')=='False'%} selected{%endif%}>关闭</option>
        </select>

        <div class="mdui-textfield">
          <h4>*后台路径（默认是admin，如果改为uadmin，则进后台路径为：/uadmin）</h4>
            <small><p><b><font color="blue">允许输入</font>：字母、数字；<font color="blue">不建议</font>：符号；<font color="blue">绝对不允许</font>：/\'"</b></p></small>
          <input class="mdui-textfield-input" type="text" name="admin_prefix" value="{{GetConfig('admin_prefix')}}"/>
        </div>

        <div class="mdui-textfield">
          <h4>缓存过期时间(秒)（非自动刷新文件列表，不懂勿改）</h4>
          <input class="mdui-textfield-input" type="text" name="downloadUrl_timeout" value="{{GetConfig('downloadUrl_timeout')}}"/>
        </div>

        <div class="mdui-textfield">
          <h4>防盗链设置（不限制，则设置：no-referrer；仅限3pp.me调用，则设置：3pp.me；可调用域名通过英文逗号分隔）</h4>
          <input class="mdui-textfield-input" type="text" name="allow_site" value="{{GetConfig('allow_site')}}"/>
        </div>

        <h4>默认排序字段</h4>
        <select class="mdui-select" name="default_sort" mdui-select>
            <option value="lastModtime"{%if GetConfig('default_sort')=='lastModtime'%} selected{%endif%}>修改时间</option>
            <option value="name"{%if GetConfig('default_sort')=='name'%} selected{%endif%}>文件名</option>
            <option value="type"{%if GetConfig('default_sort')=='type'%} selected{%endif%}>文件类型</option>
            <option value="size"{%if GetConfig('default_sort')=='size'%} selected{%endif%}>文件大小</option>
        </select>

        <h4>默认排序方法</h4>
        <select class="mdui-select" name="order_m" mdui-select>
            <option value="desc"{%if GetConfig('order_m')=='desc'%} selected{%endif%}>降序</option>
            <option value="asc"{%if GetConfig('order_m')=='asc'%} selected{%endif%}>升序</option>
        </select>

        <div class="mdui-textfield">
          <h4>*Aria2信息编辑</h4>
          <div class="mdui-panel" mdui-panel>
              <div class="mdui-panel-item">
                <div class="mdui-panel-item-header">点击配置</div>
                <div class="mdui-panel-item-body">
                  <h5>Aria2协议</h5>
                  <select class="mdui-select" name="ARIA2_SCHEME" mdui-select>
                    <option value="http"{%if GetConfig('ARIA2_SCHEME')=='http'%} selected{%endif%}>http</option>
                    <option value="https"{%if GetConfig('ARIA2_SCHEME')=='https'%} selected{%endif%}>https</option>
                  </select>
                  <h5>主机（默认localhost。如果不是本机的aria2，怎么下载到本机然后上传？？？）</h5>
                  <input class="mdui-textfield-input" type="text" readonly="readonly" name="ARIA2_HOST" placeholder="请输入aria2主机" value="{{GetConfig('ARIA2_HOST')}}" />
                  <h5>端口</h5>
                  <input class="mdui-textfield-input" type="text" name="ARIA2_PORT" placeholder="请输入aria2端口" value="{{GetConfig('ARIA2_PORT')}}" />
                  <h5>秘钥</h5>
                  <input class="mdui-textfield-input" type="text" name="ARIA2_SECRET" placeholder="请输入aria2秘钥" value="{{GetConfig('ARIA2_SECRET')}}" />
                </div>
              </div>
          </div>
        </div>

        <div class="mdui-textfield">
          <h4>*MongoDB信息编辑</h4>
          <div class="mdui-panel" mdui-panel>
              <div class="mdui-panel-item">
                <div class="mdui-panel-item-header">点击配置</div>
                <div class="mdui-panel-item-body">
                  <h5>主机（默认localhost）</h5>
                  <input class="mdui-textfield-input" type="text" readonly="readonly" name="MONGO_HOST" placeholder="请输入MongoDB主机" value="{{GetConfig('MONGO_HOST')}}" />
                  <h5>端口</h5>
                  <input class="mdui-textfield-input" type="text" name="MONGO_PORT" placeholder="请输入MongoDB端口" value="{{GetConfig('MONGO_PORT')}}" />
                  <h5>数据库（原则上不要修改）</h5>
                  <input class="mdui-textfield-input" type="text" name="MONGO_DB" placeholder="请输入数据库名" value="{{GetConfig('MONGO_DB')}}" />
                  <h5>用户名（如果有）</h5>
                  <input class="mdui-textfield-input" type="text" name="MONGO_USER" placeholder="请输入用户名" value="{{GetConfig('MONGO_USER')}}" />
                  <h5>密码（如果有）</h5>
                  <input class="mdui-textfield-input" type="text" name="MONGO_PASSWORD" placeholder="请输入密码" value="{{GetConfig('MONGO_PASSWORD')}}" />
                </div>
              </div>
          </div>
        </div>

        <div class="mdui-textfield">
          <h4>*Redis信息编辑</h4>
          <div class="mdui-panel" mdui-panel>
              <div class="mdui-panel-item">
                <div class="mdui-panel-item-header">点击配置</div>
                <div class="mdui-panel-item-body">
                  <h5>主机（默认localhost）</h5>
                  <input class="mdui-textfield-input" type="text" readonly="readonly" name="REDIS_HOST" placeholder="请输入Redis主机" value="{{GetConfig('REDIS_HOST')}}" />
                  <h5>端口</h5>
                  <input class="mdui-textfield-input" type="text" name="REDIS_PORT" placeholder="请输入Redis端口" value="{{GetConfig('REDIS_PORT')}}" />
                  <h5>数据库（原则上不要修改）</h5>
                  <input class="mdui-textfield-input" type="text" name="REDIS_DB" placeholder="请输入数据库名" value="{{GetConfig('REDIS_DB')}}" />
                  <h5>密码（如果有）</h5>
                  <input class="mdui-textfield-input" type="text" name="REDIS_PASSWORD" placeholder="请输入密码" value="{{GetConfig('REDIS_PASSWORD')}}" />
                </div>
              </div>
          </div>
        </div>

        <div class="mdui-textfield">
          <h4>搜索结果是否展示“加密文件”（开启之后，前台搜索结果会展示出加密文件夹及加密文件夹下的文件）</h4>
          <label class="mdui-switch">
            <input type="checkbox" name="show_secret" {%if GetConfig('show_secret')=='on'%}checked{%endif%}/>
            <i class="mdui-switch-icon"></i>
          </label>
        </div>

        <div class="mdui-textfield">
          <h4>加密文件夹下的文件是否加密（本选项是配合前一个选项新增的选项，看个人需求开启）</h4>
          <label class="mdui-switch">
            <input type="checkbox" name="encrypt_file" {%if GetConfig('encrypt_file')=='on'%}checked{%endif%}/>
            <i class="mdui-switch-icon"></i>
          </label>
        </div>
       <button type="submit" class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-float-right">
        <i class="mdui-icon material-icons">&#xe161;</i> 保存
       </button>
    </form>
</div>

{%endblock content%}
